<tr>
  <td><%= link_to 'View', work_item %>
  <td><%= work_item.user %></td>
  <td><%= work_item.project %></td>
  <td><%= work_item.datetimeperformed.strftime('%m/%d/%Y %H:%M') %></td>
  <td><%= work_item.hours %></td>
</tr>
